/* Anime Grid Layout */
/* Apply background only to the AnimeSearchAndOrder page */
.search-page {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    padding: 20px;
    min-height: 100vh; /* Ensures it covers the full viewport height */
}

.search-page .genre-filter select {
    border-radius: 12px; /* More rounded corners */
    padding: 5px; /* Extra padding for a smoother look */
    border: 2px solid #2b3cc2; /* Light border */
    outline: none; /* Removes default focus outline */
    background-color: white; /* Ensure background stays clean */
    color: #000000; /* Text color */
    cursor: pointer; /* Indicate it's clickable */
}

/* Change text color for all text inside the search section */
.search-page .search-section input {
    color: #100620; /* black */
    border-radius: 12px; /* More rounded corners */
    padding: 5px; /* Slightly bigger padding for a smoother look */
    border: 2px solid #1f8f59; /* Light border */
    outline: none; /* Removes default focus outline */
}
.search-page .anime-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    
}

.search-page .anime-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    border-radius: 12px;
    padding: 8px;
    background-color: #0e2342;
    box-shadow: 0 8px 6px rgba(64, 10, 10, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-page .anime-item img {
    width: 175px;
    height: 210px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.search-page .anime-title {
    font-size: 16px;
    margin-top: 8px;
    color: #000000;
}

.search-page .anime-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    justify-items: center;
}

/* Hover effects */
.search-page .anime-item:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 12px rgba(249, 216, 216, 0.7);
}

.search-page .anime-item:hover img {
    transform: scale(1.10);
}

/* Add Button */
.search-page .add-btn,
.search-page .remove-btn,
.search-page .added-btn {
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Add Button */
.search-page .add-btn {
    background-color: #53a877; /* Light green */
    color: white;
}

.search-page .add-btn:hover {
    background-color: #45a049;
}

/* Remove Button */
.search-page .remove-btn {
    background-color: #f44336; /* Red */
    color: white;
}

.search-page .remove-btn:hover {
    background-color: #e2615e;
}

/* Added Button (Grey) */
.search-page .added-btn {
    background-color: #dd8833; /* Grey */
    color: white;
}

.search-page .added-btn:hover {
    background-color: #e15624;
}
