/* AnimeInfoPage.css */
.anime-info-page {
    background-color: #121212;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-section input {
    width: 50%;
    padding: 8px;
    border-radius: 20px;
    border: 4px solid #53a877;
    color: #000000;
    font-size: 1.3rem;
    margin-right: 10px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #b1e1b4;
    color: #8f7979;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #18352d;
}

.anime-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.anime-details img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.anime-details h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.anime-details p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 10px;
}

.anime-details p strong {
    font-size: 1.5rem;
    color: #8fbc8f;
}
